# Web Scrapping Selenium

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: certifi in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\admin\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

# Quest1

In [2]:
#Importing libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [47]:
#Connecting WebDriver
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [48]:
url='https://www.naukri.com/'
driver.get(url)

In [50]:
from selenium.webdriver.common.by import By

In [51]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [52]:
search_job.send_keys("Data Analyst")

In [53]:
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [54]:
search_loc.send_keys("Bangalore")

In [55]:
#Finding Search button  using absolute Xpath....
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [56]:
#Using click function to select the Search button..
search_btn.click()

In [57]:
#To find the length of web elemrnts..
job_title = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(job_title)

20

In [58]:
#Using for loop to extract the web elements(text) from the tags(variable)..
designation = []
for i in job_title:
    designation.append(i.text)
len(designation)

20

In [59]:
#Company designation for first 20 in web page..
designation[0:10]

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst']

In [60]:
comp_name = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(comp_name)

20

In [61]:
company = []
for i in comp_name:
    company.append(i.text)
len(company)

20

In [62]:
#Name of the companies 
company[0:10]

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Wipro',
 'Optum',
 'Optum',
 'Meesho']

In [63]:
comp_exp = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(comp_exp)

20

In [64]:
experience = []
for i in comp_exp:
    experience.append(i.text)
len(experience)

20

In [65]:
#Experience for the companies...
experience[0:10]

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs']

In [66]:
comp_loc = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(comp_loc)

20

In [67]:
location = []
for i in comp_loc:
    location.append(i.text)
len(location)

20

In [68]:
#Location of the first 10 companies in webpage..
location[0:10]

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram, Chennai, Mumbai (All Areas), Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [69]:
comp_sal = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(comp_sal)

20

In [70]:
salary = []
for i in comp_sal:
    salary.append(i.text)
len(salary)

20

In [71]:
#Salaries for the first 10 companies in webpage...
salary[0:10]

['Not disclosed',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [72]:
skills_required = driver.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
len(skills_required)

20

In [73]:
requirement = []
for i in skills_required:
    requirement.append(i.text)
len(requirement)

20

In [74]:
#Requirement for the first 10 companies posted in web page..
requirement[0:10]

['Roles and Responsibilities Desired Candidate Profile Perks and Benefits',
 'Bachelor s degree or equivalent required, Computer Science or related technical degree ...',
 'About UsJoining Capco means joining an organisation that is committed to an inclusive w...',
 'Job Type Full Time Job Title Senior Business Analyst Experience Required 0-2 yrs. Job D...',
 'Bachelor s degree or equivalent required, Computer Science or related technical degree ...',
 'Experience in data analysis and modeling Preferably in fintech / collections department...',
 'Job Type : Permanent(Full Time) 4 - 10 years of overall experience as Data Analyst Mini...',
 'B Tech / BE or MCA with excellent communication skills in English, both oral and writte...',
 'Experience designing, developing and implementing and maintaining database and programs...',
 'Bachelor s degree in Engineering, Tech or StatisticsAt least 2+ years of relevant exper...']

In [75]:
adv_posted = driver.find_elements(By.XPATH,'//span[@class="fleft fw500"]')
len(adv_posted)

20

In [76]:
Posted_days = []
for i in adv_posted:
    Posted_days.append(i.text)
len(Posted_days)

20

In [77]:
#Adv posted for the first 10 companies posted in webpage..
Posted_days[0:10]

['4 DAYS AGO',
 '1 DAY AGO',
 '1 DAY AGO',
 '1 DAY AGO',
 '1 DAY AGO',
 '1 DAY AGO',
 'JUST NOW',
 '1 DAY AGO',
 '1 DAY AGO',
 '12 DAYS AGO']

In [83]:
#Creating DataFrame for first 10 datas For DataAnalyst in Bangalore Location..
jobs = pd.DataFrame()
jobs["Designation"]=designation
jobs["Company Name"]=company
jobs["Experience"]=experience
jobs["Location"]=location
jobs["Salary"]=salary
jobs["Requirement"]= requirement
jobs["Days"]=Posted_days
jobs.head(10)

,Designation,Company Name,Experience,Location,Salary,Requirement,Days
0,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Not disclosed,Roles and Responsibilities Desired Candidate P...,2 DAYS AGO
1,"Hiring Data Analyst - Forensics, KPMG India",KPMG India,2-6 Yrs,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, G...",Not disclosed,Should have handled complexity around visualiz...,2 DAYS AGO
2,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru,Not disclosed,"Bachelor s degree in Engineering, Tech or Stat...",10 DAYS AGO
3,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru,Not disclosed,About the role: You work closely with differen...,6 DAYS AGO
4,Business Analyst / Data Analyst,cliqhr.com,5-10 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Not disclosed,Clarifies and translates business requirement ...,2 DAYS AGO
5,Data Analyst - CRM Platform,Artech infosystem,1-6 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Not disclosed,Bachelors degree or equivalent 1-2 years exper...,3 DAYS AGO
6,Software Technical Expert - Data Analyst,Schneider Electric,3-6 Yrs,Bangalore/Bengaluru,Not disclosed,Should have experience on Creating and proposi...,4 DAYS AGO
7,Reference Data Analyst,Deutsche Bank,2-5 Yrs,Bangalore/Bengaluru,Not disclosed,Successful candidate will be joining the ORDS ...,3 DAYS AGO
8,Sales Data Analyst,NUANCE INDIA PVT LTD,1-3 Yrs,Bangalore/Bengaluru,Not disclosed,"Education: Bachelor s degree in Commerce, Busi...",3 DAYS AGO
9,Data Analyst,MOURI Tech,6-10 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Not disclosed,Good to have) Prior experience with marketing ...,2 DAYS AGO

# Quest2

In [78]:
#Getting webdriver of chrome.com...
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [79]:
#Getting website of www.naukri.com..
url='https://www.naukri.com/'
driver.get(url)

In [80]:
from selenium.webdriver.common.by import By

In [81]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [82]:
#Entering Data Scientist in Search box...
search_job.send_keys("Data Scientist")

In [83]:
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [84]:
#Entering Bangalore in Location Box...
search_loc.send_keys("Bangalore")

In [85]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [86]:
#Clicking the Search button..
search_btn.click()

In [87]:
job_ds = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(job_ds)

20

In [88]:
title = []
for i in job_ds:
    title.append(i.text)
len(title)

20

In [89]:
#Getting first ten title of designation in webpage..
title[0:10]

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Hiring For Senior Data Scientist',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )']

In [90]:
ds_loc = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(ds_loc)

20

In [91]:
datascientist_loc = []
for i in ds_loc:
    datascientist_loc.append(i.text)
len(datascientist_loc)

20

In [92]:
#Getting first 10 location in webpage..
datascientist_loc[0:10]

['Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR']

In [93]:
ds_compname = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(ds_compname)

20

In [94]:
company_name = []
for i in ds_compname:
    company_name.append(i.text)
len(company_name)

20

In [95]:
#Getting first 10 comp name in web page...
company_name[0:10]

['Fractal Analytics',
 'Wipro',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Wipro',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Schneider Electric',
 'EXL']

In [111]:
#Creating Data Frame for first 10 data in naukri.com...
datascien=pd.DataFrame()
datascien["DS_Job_Title"]=title
datascien["DS_Location"]=datascientist_loc
datascien["DS_CompName"]=company_name
datascien.head(10)

,DS_Job_Title,DS_Location,DS_CompName
0,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
1,Dataiku Consultant,"Bangalore/Bengaluru, Pune, Chennai",Wipro
2,Opportunity For Data Scientist - Female Candid...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",PayU
3,Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Wipro
4,Research and Development -AI/ML -(PhD ),"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",EXL
5,Senior Data Science Engineer,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ...",Fractal Analytics
6,Data Science - Engineering Manager,"Bangalore/Bengaluru, Noida, Mumbai",Paytm
7,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",UPL
8,Data Scientist- Assistant Manager/Manager,Bangalore/Bengaluru,Genpact
9,Data Scientist,Bangalore/Bengaluru,IBM

# Quest3

In [112]:
#Getting webdrvier of chrome..
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [113]:
url='https://www.naukri.com/'
driver.get(url)

In [114]:
from selenium.webdriver.common.by import By

In [115]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [116]:
#Entering DatScientist in Search box..
search_job.send_keys("Data Scientist")

In [117]:
search_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_loc

In [118]:
#Entering Delhi in location box..
search_loc.send_keys("Delhi/NCR")

In [119]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [120]:
#Clicking Search button..
search_btn.click()

In [130]:
filter_loc = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[13]/div[2]/div[2]/label/i")
filter_loc

In [131]:
#Clicking the filter location....
filter_loc.click()

In [132]:
filter_sal = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]")
filter_sal

In [133]:
#Clicking the filter for Salary...
filter_sal.click()

In [134]:
filter_title = driver.find_elements(By.XPATH,'//a[@ class="title fw500 ellipsis"]')
len(filter_title)

20

In [135]:
filtered_title=[]
for i in filter_title:
    filtered_title.append(i.text)
len(filtered_title)

20

In [136]:
#Filtered title in naukri.com
filtered_title

['DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist',
 'Data Scientist - Engine Algorithm',
 'Data Scientist',
 'Data Scientist',
 'Data Science',
 'Data Scientist - Internet Jobs - II',
 'Data Science',
 'Data Scientist',
 'Machine Learning Seniors',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Data scientist- Python',
 'Data Engineer',
 'Dot Net Developer',
 'Data Scientists',
 'Associate Data Scientist - Java/ Scala/ Apache Server']

In [137]:
filter_name = driver.find_elements(By.XPATH,'//a[@ class="subTitle ellipsis fleft"]')
len(filter_name)

20

In [138]:
Comp_Name=[]
for i in filter_name:
    Comp_Name.append(i.text)
len(Comp_Name)

20

In [139]:
#Filtered comp name in naukri.com..
Comp_Name

['Boston Consulting Group',
 'Black Turtle India Pvt Ltd',
 'EXL',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Mount Talent Consulting Private Limited',
 'Primo Hiring',
 'Mount Talent Consulting Private Limited',
 'Sydata Consulting India Pvt Ltd',
 'Mount Talent Consulting Private Limited',
 'Jobs Territory',
 'Mount Talent Consulting Private Limited',
 'Kellton Tech Solutions Limited',
 'Walking Tree Consultancy Services pvt Ltd',
 'Shriram Automall India Limited',
 'TeamPlus Staffing Solution Pvt Ltd',
 'excellence',
 'Nibha Infotech Private Limited',
 'Nibha Infotech Private Limited',
 'Smart work Consultants']

In [140]:
filter_exp = driver.find_elements(By.XPATH,'//li[@ class="fleft grey-text br2 placeHolderLi experience"]')
len(filter_exp)

20

In [141]:
Exp_Req=[]
for i in filter_exp:
    Exp_Req.append(i.text)
len(Exp_Req)

20

In [142]:
#Filtered experience in naukri.com..
Exp_Req

['2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '2-4 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '1-4 Yrs']

In [143]:
filter_loc = driver.find_elements(By.XPATH,'//li[@ class="fleft grey-text br2 placeHolderLi location"]')
len(filter_loc)

20

In [144]:
filtered_loc=[]
for i in filter_loc:
    filtered_loc.append(i.text)
len(filtered_loc)

20

In [145]:
#Filtered location in naukri.com..
filtered_loc

['New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, New Delhi',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Mumbai, New Delhi, Pune',
 'Delhi / NCR, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida']

In [148]:
#Creating a datframe from filtered datas in naukri.com..
filter_jobs = pd.DataFrame()
filter_jobs["Title"]=filtered_title
filter_jobs["Location"]=filtered_loc
filter_jobs["Company"]=Comp_Name
filter_jobs["Experience"]=Exp_Req
filter_jobs

,Title,Location,Company,Experience
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle India Pvt Ltd,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
4,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
5,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
8,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Sydata Consulting India Pvt Ltd,3-8 Yrs
9,Data Science,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",Mount Talent Consulting Private Limited,2-5 Yrs
10,Data Scientist - Internet Jobs - II,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Jobs Territory,3-6 Yrs
11,Data Science,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",Mount Talent Consulting Private Limited,2-5 Yrs
12,Data Scientist,Gurgaon/Gurugram,Kellton Tech Solutions Limited,3-6 Yrs
13,Machine Learning Seniors,"Hyderabad/Secunderabad, New Delhi",Walking Tree Consultancy Services pvt Ltd,2-5 Yrs
14,Hiring || Data Scientist || North Delhi || 5.5...,Delhi / NCR(Netaji Subhash Place),Shriram Automall India Limited,4-9 Yrs
15,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
16,Data Engineer,"Mumbai, New Delhi, Pune",excellence,4-9 Yrs
17,Dot Net Developer,"Delhi / NCR, Gurgaon/Gurugram",Nibha Infotech Private Limited,3-8 Yrs
18,Data Scientists,Gurgaon/Gurugram,Nibha Infotech Private Limited,5-8 Yrs
19,Associate Data Scientist - Java/ Scala/ Apache...,Noida,Smart work Consultants,1-4 Yrs

In [149]:
filter_jobs[0:10]

,Title,Location,Company,Experience
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle India Pvt Ltd,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
4,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
5,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
8,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Sydata Consulting India Pvt Ltd,3-8 Yrs
9,Data Science,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",Mount Talent Consulting Private Limited,2-5 Yrs

# Ques4

In [150]:
#Getting webdriver:Google Chrome
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [151]:
#Getting the url:flipkart..
url='https://www.flipkart.com/'
driver.get(url)

In [153]:
search_glasses = driver.find_element(By.CLASS_NAME,"_3704LK")
search_glasses

In [154]:
#Entering sunglasses in Searchbox...
search_glasses.send_keys("sunglasses")

In [155]:
search_flip = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_flip

In [156]:
#Clicking the Search icon..
search_flip.click()

In [157]:
sunglass = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(sunglass)

40

In [159]:
glass_brand=[]
for i in sunglass:
    glass_brand.append(i.text)
len(glass_brand)

40

In [160]:
#Getting brand name of the glass in firstpage...
glass_brand

['PIRASO',
 'PIRASO',
 'DAHAAZIL',
 'Fastrack',
 'New Specs',
 'SRPM',
 'PIRASO',
 'PIRASO',
 'Elligator',
 'SUNBEE',
 'SUNBEE',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Singco India',
 'New Specs',
 'Sewell',
 'ROZZETTA CRAFT',
 'DEIXELS',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'SRPM',
 'VINCENT CHASE',
 'Mi',
 'PIRASO',
 'LIZA ANGEL',
 'ROZZETTA CRAFT']

In [161]:
glass_product = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(glass_product)

40

In [162]:
product=[]
for i in glass_product:
    product.append(i.text)
len(product)

40

In [163]:
#Getting product description of the glass in 1st page...
product

['UV Protection Butterfly Sunglasses (60)',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (52)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Night Vision, Riding Glasses Round Sungl...',
 'UV Protection Aviator Sunglasses (62)']

In [164]:
glass_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(glass_price)

40

In [165]:
price=[]
for i in glass_price:
    price.append(i.text)
len(price)

40

In [166]:
#Getting price of the glass in 1st apge..
price

['₹439',
 '₹439',
 '₹177',
 '₹639',
 '₹264',
 '₹224',
 '₹224',
 '₹368',
 '₹315',
 '₹283',
 '₹259',
 '₹439',
 '₹195',
 '₹799',
 '₹224',
 '₹399',
 '₹639',
 '₹359',
 '₹229',
 '₹439',
 '₹306',
 '₹299',
 '₹226',
 '₹399',
 '₹246',
 '₹719',
 '₹499',
 '₹232',
 '₹299',
 '₹265',
 '₹349',
 '₹224',
 '₹279',
 '₹319',
 '₹219',
 '₹749',
 '₹839',
 '₹359',
 '₹199',
 '₹649']

In [167]:
next_flip = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_flip

In [168]:
next_flip.click()

In [170]:
page2_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(page2_brand)

40

In [171]:
page2brand=[]
for i in page2_brand:
    page2brand.append(i.text)
len(page2brand)

40

In [172]:
#Getting brand of the glass in 2nd apge..
page2brand

['SUNBEE',
 'SRPM',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'AISLIN',
 'Lee Topper',
 'PIRASO',
 'NuVew',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'LIZA ANGEL',
 'CRYSTAL CART',
 'DEIXELS',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Elligator',
 'ROYAL SON',
 'PIRASO',
 'VINCENT CHASE',
 'ROYAL SON',
 'Fastrack',
 'PIRASO',
 'PHENOMENAL',
 'kingsunglasses',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'New Specs',
 'CRYSTAL CART',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'kingsunglasses',
 'PIRASO',
 'kingsunglasses',
 'Singco India',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT']

In [173]:
page2_product = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(page2_product)

40

In [174]:
page2product=[]
for i in page2_product:
    page2product.append(i.text)
len(page2product)

40

In [175]:
#Getting product description of the glass in 2nd apge..
page2product

['UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection Sports Sunglasses (62)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (53)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Over-sized Sunglasses (65)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (55)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)']

In [176]:
page2_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(page2_price)

40

In [177]:
page2price=[]
for i in page2_price:
    page2price.append(i.text)
len(page2price)

40

In [178]:
#Getting price of the glass in 2nd apge..
page2price

['₹283',
 '₹249',
 '₹759',
 '₹439',
 '₹759',
 '₹498',
 '₹219',
 '₹439',
 '₹345',
 '₹719',
 '₹246',
 '₹368',
 '₹189',
 '₹189',
 '₹224',
 '₹439',
 '₹399',
 '₹219',
 '₹379',
 '₹224',
 '₹749',
 '₹379',
 '₹1,039',
 '₹226',
 '₹369',
 '₹214',
 '₹288',
 '₹399',
 '₹268',
 '₹529',
 '₹223',
 '₹359',
 '₹899',
 '₹269',
 '₹329',
 '₹439',
 '₹189',
 '₹598',
 '₹499',
 '₹399']

In [179]:
next_flip.click()

In [180]:
page3_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(page3_brand)

40

In [181]:
page3brand=[]
for i in page3_brand:
    page3brand.append(i.text)
len(page3brand)

40

In [185]:
#Getting first 20 brand name of the glass in 3rd apge..
page3brand[0:20]

['ROYAL SON',
 'Lee Topper',
 'VINCENT CHASE',
 'PIRASO',
 'kingsunglasses',
 'SRPM',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Singco India',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'Rich Club',
 'PIRASO',
 'Lee Topper',
 'kingsunglasses',
 'Fastrack',
 'PIRASO']

In [186]:
page3_product = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(page3_product)

40

In [187]:
page3product=[]
for i in page3_product:
    page3product.append(i.text)
len(page3product)

40

In [188]:
#Getting first 20 product description of the glass in 3rd apge..
page3product[0:20]

['Mirrored Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Butterfly Sunglasses (60)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Over-sized Sunglasses (64)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Over-sized Sunglasses (64)']

In [189]:
page3_price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(page3_price)

40

In [190]:
page3price=[]
for i in page3_price:
    page3price.append(i.text)
len(page3price)

40

In [191]:
#Getting first 20 price of the glass in 3rd apge..
page3price[0:20]

['₹379',
 '₹245',
 '₹749',
 '₹439',
 '₹269',
 '₹233',
 '₹379',
 '₹246',
 '₹719',
 '₹664',
 '₹213',
 '₹439',
 '₹809',
 '₹289',
 '₹265',
 '₹368',
 '₹276',
 '₹269',
 '₹735',
 '₹439']

# Quest5

In [251]:
#Gettin webdriver Google chromne...
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [252]:
#Gettinf url as flipkart.com...
url='https://www.flipkart.com/'
driver.get(url)

In [253]:
search_iphone11 = driver.find_element(By.CLASS_NAME,"_3704LK")
search_iphone11

In [254]:
#Entering iphone11 in search box..
search_iphone11.send_keys("iphone11")

In [255]:
search_kart = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_kart

In [256]:
#clicking search icon..
search_kart.click()

In [258]:
iphone = driver.find_elements(By.XPATH,'//span[@ class="_1lRcqv"]')
len(iphone)

24

In [259]:
iphone_ratings=[]
for i in iphone:
    iphone_ratings.append(i.text)
len(iphone_ratings)

24

In [260]:
#Getting first 24 ratings of the iphone11 in 1st apge..
iphone_ratings

['4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.7',
 '4.4',
 '4.4',
 '4.4',
 '4.7',
 '4.7',
 '4.6',
 '4.6',
 '4.6',
 '4.6',
 '4.7',
 '4.7']

# ques6

In [96]:
#Getting gogle chrome as webdriver....
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [97]:
#Getting flipkart as url...
url='https://www.flipkart.com/'
driver.get(url)

In [98]:
search_shoes = driver.find_element(By.CLASS_NAME,"_3704LK")
search_shoes

In [99]:
#Entering Sneakers shoes in search box..
search_shoes.send_keys("sneakers")

In [102]:
search_sneakers = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_sneakers

In [103]:
#Clicking search icon..
search_sneakers.click()

In [104]:
shoes = driver.find_elements(By.XPATH,'//div[@ class="_2WkVRV"]')
len(shoes)

40

In [105]:
sneakers_brand=[]
for i in shoes:
    sneakers_brand.append(i.text)
len(sneakers_brand)

40

In [106]:
#Getting first 40 brand name of the sneakers in 1st page..
sneakers_brand

['HOTSTYLE',
 'luxury fashion',
 'WOODLAND',
 'BRUTON',
 'BRUTON',
 'URBANBOX',
 'Magnolia',
 'HOTSTYLE',
 'Labbin',
 'BIRDE',
 'aadi',
 'LOUIS PHILIPPE',
 'BIRDE',
 'BIRDE',
 'SFR',
 'HOTSTYLE',
 'Chevit',
 'PUMA',
 'KWIK FIT',
 'RapidBox',
 'ONECENTRE',
 'HOTSTYLE',
 'corsac',
 'Echor',
 'ASTEROID',
 'CLYMB',
 'BRUTON',
 'RapidBox',
 'Noztile',
 'BIRDE',
 'SCATCHITE',
 'kardam&sons',
 'Kraasa',
 'Kraasa',
 'PUMA',
 'Kirjak',
 'Layasa',
 'Kraasa',
 'Kzaara',
 'Scull Wings']

In [113]:
product = driver.find_elements(By.XPATH,'//a[@ class="IRpwTa"]')
len(product)

36

In [114]:
shoes_product=[]
for i in product:
    shoes_product.append(i.text)
len(shoes_product)

36

In [115]:
#Getting product description for sneakers in first page..
shoes_product

['Sneakers Sneakers For Men',
 'Luxuryfashion casual sneaker shoes Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Mike Stylish & Trendy Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Puma Smash v2 L Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'STR2 Sneakers For Men',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Casual Stylish Sneakers For Men Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Sneakers Sneakers For Men',
 'Fashionable Luxury Canvas Casual Outdoor Sneakers White...',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 "men's Skyblue sneakers lace-up trendy casual Sneakers F...",
 'Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men']

In [24]:
price = driver.find_elements(By.XPATH,'//div[@ class="_30jeq3"]')
len(price)

40

In [25]:
shoes_price=[]
for i in price:
    shoes_price.append(i.text)
len(shoes_price)

40

In [26]:
#Getting price for snaekers in 1st page..
shoes_price

['₹2,096',
 '₹269',
 '₹299',
 '₹449',
 '₹198',
 '₹378',
 '₹499',
 '₹319',
 '₹335',
 '₹299',
 '₹1,763',
 '₹289',
 '₹258',
 '₹499',
 '₹474',
 '₹397',
 '₹1,877',
 '₹616',
 '₹649',
 '₹335',
 '₹269',
 '₹399',
 '₹479',
 '₹479',
 '₹479',
 '₹499',
 '₹259',
 '₹249',
 '₹299',
 '₹269',
 '₹299',
 '₹399',
 '₹199',
 '₹699',
 '₹449',
 '₹1,504',
 '₹464',
 '₹1,318',
 '₹449',
 '₹474']

In [27]:
offer = driver.find_elements(By.XPATH,'//div[@ class="_3Ay6Sb"]')
len(offer)

40

In [28]:
shoes_offer=[]
for i in offer:
    shoes_offer.append(i.text)
len(shoes_offer)

40

In [29]:
#Getting  offers for snaekers shoes in 1st page..
shoes_offer

['30% off',
 '79% off',
 '76% off',
 '55% off',
 '80% off',
 '62% off',
 '50% off',
 '68% off',
 '66% off',
 '50% off',
 '49% off',
 '71% off',
 '74% off',
 '66% off',
 '76% off',
 '80% off',
 '46% off',
 '58% off',
 '65% off',
 '66% off',
 '79% off',
 '60% off',
 '52% off',
 '52% off',
 '52% off',
 '50% off',
 '74% off',
 '75% off',
 '54% off',
 '79% off',
 '70% off',
 '80% off',
 '66% off',
 '65% off',
 '37% off',
 '57% off',
 '53% off',
 '60% off',
 '55% off',
 '52% off']

In [30]:
click_next = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
click_next

In [31]:
#Clicking the next icon for second page..
click_next.click()

In [32]:
page2_sneakers = driver.find_elements(By.XPATH,'//div[@ class="_2WkVRV"]')
len(page2_sneakers)

40

In [33]:
brand_p2=[]
for i in page2_sneakers:
    brand_p2.append(i.text)
len(brand_p2)

40

In [34]:
#Getting brand of shoes in 2nd page..
brand_p2

['ASTEROID',
 'Magnolia',
 'WHITE WALKERS',
 'aadi',
 'AMICO',
 'luxury fashion',
 'Airland',
 'Shoes Bank',
 'SPARX',
 'Numenzo',
 'LE GREEM',
 'luxury fashion',
 'Stinson',
 'India hub',
 'WHITE WALKERS',
 'Numenzo',
 'Roadster',
 'BIRDE',
 'PEXLO',
 'Robbie jones',
 'PUMA',
 'KNIGHT WALKERS',
 'T-ROCK',
 'Echor',
 'URBANBOX',
 'WHITE WALKERS',
 'aadi',
 'Eiffel',
 'Xtoon',
 'PEXLO',
 'PUMA',
 'Robbie jones',
 'aadi',
 'BRUTON',
 'Aragats',
 'Robbie jones',
 'HONEY',
 'Robbie jones',
 'RapidBox',
 'PUMA']

In [35]:
page2_description = driver.find_elements(By.XPATH,'//a[@ class="IRpwTa"]')
len(page2_description)

32

In [36]:
description_p2=[]
for i in page2_description:
    description_p2.append(i.text)
len(description_p2)

32

In [37]:
#Getting description for the shoes in 2nd page...
description_p2

['Original Luxury Branded Black Fancy Casual Walking Part...',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Sneakers For Men',
 'Sneakers For Men',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Brave Sneakers For Men',
 'Stylish Party Wear Casual Sneakers Shoes For Men Sneake...',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 "White casual, gym,training & Running sneakers for men's...",
 'Combo Pack of 3 Casual Shoes, Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Casual Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Blend Sneakers For Men']

In [39]:
page2_price = driver.find_elements(By.XPATH,'//div[@ class="_30jeq3"]')
len(page2_price)

40

In [40]:
price_p2=[]
for i in page2_price:
    price_p2.append(i.text)
len(price_p2)

40

In [41]:
#Getting price for the shoes in 2nd page..
price_p2

['₹474',
 '₹449',
 '₹599',
 '₹799',
 '₹494',
 '₹426',
 '₹239',
 '₹298',
 '₹714',
 '₹539',
 '₹499',
 '₹399',
 '₹229',
 '₹397',
 '₹599',
 '₹450',
 '₹1,135',
 '₹419',
 '₹670',
 '₹499',
 '₹1,418',
 '₹699',
 '₹699',
 '₹539',
 '₹179',
 '₹599',
 '₹399',
 '₹438',
 '₹499',
 '₹561',
 '₹1,899',
 '₹499',
 '₹319',
 '₹499',
 '₹549',
 '₹549',
 '₹449',
 '₹499',
 '₹630',
 '₹1,709']

In [42]:
page2_offer = driver.find_elements(By.XPATH,'//div[@ class="_3Ay6Sb"]')
len(page2_offer)

40

In [43]:
offer_p2=[]
for i in page2_offer:
    offer_p2.append(i.text)
len(offer_p2)

40

In [44]:
#getting offers for the shoes in 2nd page..
offer_p2

['52% off',
 '55% off',
 '50% off',
 '60% off',
 '50% off',
 '78% off',
 '52% off',
 '70% off',
 '15% off',
 '82% off',
 '50% off',
 '69% off',
 '54% off',
 '80% off',
 '50% off',
 '77% off',
 '65% off',
 '58% off',
 '55% off',
 '50% off',
 '57% off',
 '65% off',
 '30% off',
 '46% off',
 '64% off',
 '50% off',
 '80% off',
 '56% off',
 '50% off',
 '76% off',
 '36% off',
 '50% off',
 '68% off',
 '80% off',
 '45% off',
 '45% off',
 '55% off',
 '50% off',
 '36% off',
 '43% off']

In [47]:
click_next = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
click_next

In [48]:
#Clicking next icon for 3rd page..
click_next.click()

In [49]:
page3_brand = driver.find_elements(By.XPATH,'//div[@ class="_2WkVRV"]')
len(page3_brand)

40

In [50]:
brand_p3=[]
for i in page3_brand:
    brand_p3.append(i.text)
len(brand_p3)

40

In [52]:
#Getting brand for the shoes in 3rd page..
brand_p3[0:20]

['Layasa',
 'Robbie jones',
 'BRUTON',
 'PUMA',
 'RapidBox',
 'BAUCHHAAR',
 'ASIAN',
 'NIKE',
 "K' Footlance",
 'PROVOGUE',
 'KNIGHT WALKERS',
 'Robbie jones',
 'Magnolia',
 'DUCATI',
 'SPARX',
 'corsac',
 'PUMA',
 'DUNKASTON',
 'KNIGHT WALKERS',
 'BRUTON']

In [53]:
page3_description = driver.find_elements(By.XPATH,'//a[@ class="IRpwTa"]')
len(page3_description)

30

In [54]:
description_p3=[]
for i in page3_description:
    description_p3.append(i.text)
len(description_p3)

30

In [55]:
##Getting description for the shoes in 3rd page..
description_p3[0:20]

['Sneakers For Men',
 'Sneakers For Men',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'R78 Sneakers For Men',
 'Sneakers For Men',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Court Royale 2 Low Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'SM-322 Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Trinity Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'X-Ray 2 Square Sneakers For Men']

In [56]:
page3_price = driver.find_elements(By.XPATH,'//div[@ class="_30jeq3"]')
len(page3_price)

40

In [57]:
price_p3=[]
for i in page3_price:
    price_p3.append(i.text)
len(price_p3)

40

In [58]:
#Getting price for the shoes in 3rd page..
price_p3[0:20]

['₹499',
 '₹499',
 '₹299',
 '₹2,339',
 '₹650',
 '₹449',
 '₹498',
 '₹2,325',
 '₹405',
 '₹756',
 '₹648',
 '₹499',
 '₹424',
 '₹1,497',
 '₹876',
 '₹499',
 '₹1,794',
 '₹499',
 '₹699',
 '₹299']

In [59]:
page3_offer = driver.find_elements(By.XPATH,'//div[@ class="_3Ay6Sb"]')
len(page3_offer)

40

In [60]:
offer_p3=[]
for i in page3_offer:
    offer_p3.append(i.text)
len(offer_p3)

40

In [61]:
#Getting offer for the shoes in 3rd page..
offer_p3[0:20]

['50% off',
 '50% off',
 '76% off',
 '41% off',
 '34% off',
 '55% off',
 '37% off',
 '41% off',
 '59% off',
 '62% off',
 '56% off',
 '50% off',
 '57% off',
 '59% off',
 '14% off',
 '66% off',
 '48% off',
 '66% off',
 '65% off',
 '76% off']

# ques7

In [125]:
#Connecting WebDriver
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [126]:
#Getting myntra as url..
url='https://www.myntra.com/shoes'
driver.get(url)

In [149]:
price_myntra = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_myntra

In [150]:
#getting price filter for shoes in myntra..
price_myntra.click()

In [129]:
black_myntra = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
black_myntra

In [130]:
#Getting black color filter shoes in myntra...
black_myntra.click()

In [131]:
shoes_brand = driver.find_elements(By.XPATH,'//h3[@ class="product-brand"]')
len(shoes_brand)

50

In [132]:
blackshoes=[]
for i in shoes_brand:
    blackshoes.append(i.text)
len(blackshoes)

50

In [133]:
#Getting brand for the shoes in front page..
blackshoes

['Nike',
 'Skechers',
 'Nike',
 'Nike',
 'Hush Puppies',
 'Nike',
 'Puma',
 'Nike',
 'Geox',
 'ADIDAS',
 'Geox',
 'Nike',
 'Skechers',
 'Puma',
 'ADIDAS',
 'ADIDAS',
 'Skechers',
 'Puma',
 'ADIDAS',
 'UNDER ARMOUR',
 'ADIDAS Originals',
 'Skechers',
 'ADIDAS',
 'ADIDAS',
 'PUMA Hoops',
 'Tommy Hilfiger',
 'UNDER ARMOUR',
 'Puma',
 'New Balance',
 'New Balance',
 'Hush Puppies',
 'Puma',
 'Bugatti',
 'Columbia',
 'PUMA Hoops',
 'Puma',
 'ADIDAS',
 'Skechers',
 'Clarks',
 'Saint G',
 'Tommy Hilfiger',
 'ADIDAS',
 'Puma',
 'Puma',
 'Puma',
 'fitflop',
 'Puma',
 'UNDER ARMOUR',
 'Saint G',
 'Skechers']

In [134]:
shoes_description = driver.find_elements(By.XPATH,'//h4[@ class="product-product"]')
len(shoes_description)

50

In [135]:
blackshoes_description=[]
for i in shoes_description:
    blackshoes_description.append(i.text)
len(blackshoes_description)

50

In [136]:
#Getting description for the shoes in front page..
blackshoes_description

['Men React Infinity 3 Running',
 'Men Go Walk 5 Walking Shoes',
 'Men SRG 3 FK Training Shoes',
 'Men Zoom C Pro HC Tennis Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Women React Escape Running',
 'Eternity Nitro Running Shoes',
 'Women React MR 3 Running Shoes',
 'Men Leather Sneakers',
 'Men Defiant Generation Tennis',
 'Men Leather Sneakers',
 'Women Free Metcon 4 Training',
 'Men Sky Vault Walking Shoes',
 'Unisex TRC Blaze Sneakers',
 'Men Solar Glide 4 ST Running',
 'Women Eastrail 2 Hiking Shoes',
 'Men MAX CUSHIONING ELITE-LUCID',
 'Men FUSE Performance Training',
 'Women SN1997 Running Shoes',
 'Men HOVR Sonic SE Running Shoe',
 'Men Solid Oznova Sneakers',
 'Men Walking Shoes',
 'Men Adizero Boston 11 Running',
 'Men Supernova 2 Running Shoes',
 'Unisex Court Rider Shoes',
 'Men JEANS RETRO BASKET Sneaker',
 'Women Hovr Sonic SE Run Shoes',
 'Unisex Wild Rider Sneakers',
 'Men Woven Design Suede Sneakers',
 'Men Woven Design Suede Sneakers',
 'Men Formal Derbys',
 'Men RS-Z Molded Men Sneakers',
 'Men Black Walking Shoes',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men TRC Blaze Basketball Shoes',
 'Men Velocity Nitro 2 Running',
 'Women SL20.3 Running Shoes',
 'Men ENIGMA Running Shoes',
 'Men Leather Slip-Ons',
 'Leather High-Top Heeled Boots',
 'Men Solid Sneakers',
 'Women KarlieKlossX9000 Running',
 'Men Velocity Nitro Running',
 'Men M Nitro Running Shoess',
 'Women Electrify Nitro Running',
 'Flatform Sandals with Buckles',
 'Women Eternity NITRO Shoes',
 'Women Charged Breeze Running',
 'Leather Ankle Boots',
 'Men Textured Sneakers']

In [138]:
shoes_price = driver.find_elements(By.XPATH,'//div[@ class="product-price"]')
len(shoes_price)

50

In [139]:
blackshoes_price=[]
for i in shoes_price:
    blackshoes_price.append(i.text)
len(blackshoes_price)

50

In [140]:
#Getting price for the shoes in front page..
blackshoes_price

['Rs. 11895Rs. 13995(15% OFF)',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 8895',
 'Rs. 7560Rs. 8895(15% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 9770Rs. 11495(15% OFF)',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 8920Rs. 10495(15% OFF)',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 9345Rs. 10995(15% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 12749Rs. 14999(15% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8074Rs. 9499(15% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 11049Rs. 12999(15% OFF)',
 'Rs. 9999',
 'Rs. 10799Rs. 11999(10% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 11899Rs. 13999(15% OFF)',
 'Rs. 9999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 7309Rs. 8599(15% OFF)',
 'Rs. 9999',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 10199Rs. 11999(15% OFF)',
 'Rs. 8074Rs. 9499(15% OFF)',
 'Rs. 7899Rs. 9999(21% OFF)',
 'Rs. 11875Rs. 12500(5% OFF)',
 'Rs. 7599',
 'Rs. 13999',
 'Rs. 10199Rs. 11999(15% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7499',
 'Rs. 9749Rs. 12999(25% OFF)',
 'Rs. 8999',
 'Rs. 9405Rs. 9900(5% OFF)',
 'Rs. 7999']

In [151]:
myntra_next = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
myntra_next

In [152]:
myntra_next.click()

In [153]:
blackshoes_myntra = driver.find_elements(By.XPATH,'//h3[@ class="product-brand"]')
len(blackshoes_myntra)

50

In [154]:
blackshoes_myntra2=[]
for i in blackshoes_myntra:
    blackshoes_myntra2.append(i.text)
len(blackshoes_myntra2)

50

In [155]:
#Getting brand for the shoes in second page..
blackshoes_myntra2

['Skechers',
 'ASICS',
 'Geox',
 'Columbia',
 'Hush Puppies',
 'Geox',
 'UNDER ARMOUR',
 'Geox',
 'Puma',
 'Columbia',
 'Hush Puppies',
 'Geox',
 'TRIBAN By Decathlon',
 'Geox',
 'Puma',
 'TOMS',
 'ASICS',
 'PUMA Hoops',
 'Bugatti',
 'KIPRUN By Decathlon',
 'TOMS',
 'J.FONTINI',
 'Puma',
 'ASICS',
 'ADIDAS Originals',
 'Cole Haan',
 'ROSSO BRUNELLO',
 'Louis Philippe',
 'J.FONTINI',
 'Bugatti',
 'Columbia',
 'J.FONTINI',
 'Puma',
 'Clarks',
 'Saint G',
 'Saint G',
 'DAVINCHI',
 'J.FONTINI',
 'Geox',
 'Geox',
 'Saint G',
 'Saint G',
 'fitflop',
 'fitflop',
 'fitflop',
 'fitflop',
 'Columbia',
 'Puma',
 'ADIDAS',
 'ASICS']

In [156]:
blackshoes_description2 = driver.find_elements(By.XPATH,'//h4[@ class="product-product"]')
len(blackshoes_description2)

50

In [157]:
blackshoes_description_p2=[]
for i in blackshoes_description2:
    blackshoes_description_p2.append(i.text)
len(blackshoes_description_p2)

50

In [158]:
#Getting description for the shoes in second page..
blackshoes_description_p2

['Men Textured Sneakers',
 'Men GEL-Quantum 360 6 Sports',
 'Women Ballerinas Flats',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Solid Leather Formal Slip-Ons',
 'Men Perforations Sneakers',
 'W omen TriBase Reign 4 Running',
 'Men Leather Sneakers',
 'Women Magnify Nitro Running',
 'Women Trekking Shoes',
 'Men Solid Formal Slip-Ons',
 'Leather Block Sandals',
 'Unisex Training or Gym Shoes',
 'Men Leather Sneakers',
 'Men Deviate Nitro Shoes',
 'Men Alpargata Slip-On Sneakers',
 'Women Running Shoes',
 'Fives Blaze Court Basketball',
 'Men Textured Leather High-Top Flat Boots',
 'Men Running Shoes',
 'Men Sneakers',
 'Men Leather Fashion',
 'Unisex KING Pro 21 Football',
 'Men GEL-GLYDE 3 MX Running',
 'Women Ozelia Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Textured Leather Loafers',
 'Men Solid Loafers',
 'Men Black Formal Derby Shoes',
 'Cascade Peak II Jacket',
 'Men Textured Leather Loafers',
 'Women RS-Z Luminous Sneakers',
 'Men Woven Design Suede Flat Boots',
 'Men Solid Leather Formal Boots',
 'Leather Block Sandals',
 'Men Textured Formal Leather Loafers',
 'Men Textured Leather Formal Loafers',
 'Textured Leather Block Pumps',
 'Leather Block Pumps',
 'Leather Block Sandals with Buckles',
 'Leather Block',
 'Leather Flatform Sandals',
 'Embellished Leather Flatform Sandals',
 'Embellished Leather Wedge Sandals',
 'Embellished PU Comfort Pumps',
 'Women REDMOND V2 TrekkingShoe',
 'Women Running Sports Shoes',
 'Women X9000 H.RDY Running',
 'Men TARTHER BLAST Running']

In [162]:
blackshoes_price2 = driver.find_elements(By.XPATH,'//div[@ class="product-price"]')
len(blackshoes_price2)

50

In [163]:
blackshoes_price_p2=[]
for i in blackshoes_price2:
    blackshoes_price_p2.append(i.text)
len(blackshoes_price_p2)

50

In [164]:
#Getting price for the shoes in second page..
blackshoes_price_p2

['Rs. 7999',
 'Rs. 13999',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 12999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 11999',
 'Rs. 12990',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 9459Rs. 10999(14% OFF)',
 'Rs. 13990',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7999',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 8685Rs. 10099(14% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8490',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 9349Rs. 10999(15% OFF)',
 'Rs. 11999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7899Rs. 9999(21% OFF)',
 'Rs. 9900Rs. 12500(Rs. 2600 OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 8505Rs. 10500(19% OFF)',
 'Rs. 9975Rs. 10500(5% OFF)',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 7499',
 'Rs. 7999',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 13999',
 'Rs. 7999']

# ques8

In [201]:
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [202]:
url='https://www.amazon.in'
driver.get(url)

In [204]:
search_laptop = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_laptop

In [205]:
search_laptop.send_keys("Laptop")

In [208]:
search_amzn = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
search_amzn

In [209]:
search_amzn.click()

In [210]:
cpu_filter = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i")
cpu_filter

In [211]:
cpu_filter.click()

In [213]:
laptop = driver.find_elements(By.XPATH,'//span[@ class="a-size-medium a-color-base a-text-normal"]')
len(laptop)

24

In [214]:
laptop_title=[]
for i in laptop:
    laptop_title.append(i.text)
len(laptop_title)

24

In [216]:
laptop_title[0:10]

['Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdram/1Tb Ssd 15.6 Inches (39.6Cm) Fhd,IPS/Intel Iris Xe Graphics/B&O/Windows 11 Home/Alexa/Backlit Kb/Fpr/Mso 2021/1.75Kg, 15-Eg2039Tu, Natural Silver',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W',
 'HP Envy 11th Gen Intel Evo Core i7 14 inch(35.6 cm) WUXGA Anti-Glare Display 2-in-1 Laptop(16GB RAM/1TB SSD/GTX 1650 4GB Graphics/400 nits/Win 11/MS Office/FPR/B&O/Alexa Built-in/1.59 Kg), 14-eb0021TX',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'Lenovo IdeaPad Flex 5 Intel Core i7 11th Gen 14" (35.56cm) FHD IPS 2-in-1 Convertible Touchscreen Laptop (16GB/512GB SDD/Win11/Office 2021/Backlit/FPR/3months Game Pass/Graphite Grey/1.5Kg),82HS018XIN',
 'LG Gram 16 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4, USC -C x 2 / 1.19 kg, Black/ 3Yr Warranty] 16Z90P',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10 Professional/Mineral Grey/1.26 Kg), 20V9A032IH']

In [243]:
ratings = driver.find_elements(By.XPATH,'//a[@ class="a-popover-trigger a-declarative"]')
len(ratings)

18

In [244]:
laptop_ratings=[]
for i in ratings:
    laptop_ratings.append(i.text)
len(laptop_ratings)

18

In [245]:
laptop_ratings

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [247]:
price = driver.find_elements(By.XPATH,'//span[@ class="a-price-whole"]')
len(price)

24

In [248]:
laptop_price=[]
for i in price:
    laptop_price.append(i.text)
len(laptop_price)

24

In [250]:
laptop_price[0:10]

['87,900',
 '82,990',
 '86,990',
 '86,990',
 '1,12,990',
 '99,499',
 '79,990',
 '80,290',
 '85,499',
 '89,990']

# ques9

In [261]:
#Getting web driver google chrome..
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [262]:
#Getting url as Ambitionbox..
url='https://www.ambitionbox.com/'
driver.get(url)

In [263]:
job_click = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
job_click

In [264]:
job_click.click()

In [268]:
ambition_job = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
ambition_job

In [269]:
#Sending DataScientist in Search box..
ambition_job.send_keys("Data Scientist")

In [270]:
job_search = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
job_search

In [271]:
#Clicking Search icon in web page..
job_search.click()

In [272]:
job_loc = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
job_loc

In [273]:
job_loc.click()

In [274]:
search_loc = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_loc

In [275]:
#Sending noida in location box..
search_loc.send_keys("Noida")

In [276]:
select_loc = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
select_loc

In [277]:
#Clicking location icon..
select_loc.click()

In [278]:
noida_compname = driver.find_elements(By.XPATH,'//p[@ class="company body-medium"]')
len(noida_compname)

10

In [279]:
comp_name=[]
for i in noida_compname:
    comp_name.append(i.text)
len(comp_name)

10

In [280]:
#Company name for first 10 companie sin ambition box web page..
comp_name

['Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'GENPACT India Private Limited',
 'InfoEdge India Ltd.',
 'Dew Solutions Pvt. Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'Latent bridge',
 'Careerera',
 'Careernet Consulting']

In [284]:
comp_posted = driver.find_elements(By.XPATH,'//span[@ class="body-small-l"]')
len(comp_posted)

20

In [285]:
posted_ago=[]
for i in comp_posted:
    posted_ago.append(i.text)
len(posted_ago)

20

In [289]:
posted_ago

['7d ago',
 'via naukri.com',
 '14d ago',
 'via naukri.com',
 '1mon ago',
 'via naukri.com',
 '12d ago',
 'via hirist.com',
 '5d ago',
 'via hirist.com',
 '13d ago',
 'via hirist.com',
 '13d ago',
 'via hirist.com',
 '13d ago',
 'via hirist.com',
 '11hr ago',
 'via naukri.com',
 '27d ago',
 'via iimjobs.com']

In [301]:
#Adv posted days fr 10 comp in ambition box web page...
posted_days_ago=posted_ago[0: :2]
posted_days_ago

['7d ago',
 '14d ago',
 '1mon ago',
 '12d ago',
 '5d ago',
 '13d ago',
 '13d ago',
 '13d ago',
 '11hr ago',
 '27d ago']

In [291]:
comp_rating = driver.find_elements(By.XPATH,'//span[@ class="body-small"]')
len(comp_rating)

10

In [293]:
ratings_comp=[]
for i in comp_rating:
    ratings_comp.append(i.text)
len(ratings_comp)

10

In [296]:
ratings_comp

['4.1', '4.0', '4.0', '3.9', '4.3', '3.9', '3.9', '4.5', '3.8', '3.9']

In [302]:
#Creating Data Frame for 10companies in ambition box webpage..
import pandas as pd
df=pd.DataFrame({"CompanyName":comp_name,"Job_Posted_Days":posted_days_ago,"Ratings_of_the_Company":ratings_comp})
df

,CompanyName,Job_Posted_Days,Ratings_of_the_Company
0,Optum Global Solutions (India) Private Limited,7d ago,4.1
1,GENPACT India Private Limited,14d ago,4.0
2,GENPACT India Private Limited,1mon ago,4.0
3,InfoEdge India Ltd.,12d ago,3.9
4,Dew Solutions Pvt. Ltd.,5d ago,4.3
5,Info Edge India Limited,13d ago,3.9
6,Info Edge India Limited,13d ago,3.9
7,Latent bridge,13d ago,4.5
8,Careerera,11hr ago,3.8
9,Careernet Consulting,27d ago,3.9

# ques10

In [118]:
#Getting google chrome driver..
driver = webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe')

In [119]:
#getting ambitionbox as url..
url='https://www.ambitionbox.com/'
driver.get(url)

In [120]:
salaries_click = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
salaries_click

In [121]:
#Clicking the salaries in front page..
salaries_click.click()

In [122]:
job_profiles = driver.find_element(By.XPATH,"//input[@class='tt-input']")
job_profiles

In [123]:
#Entering DataScientist in Search box..
job_profiles.send_keys("Data Scientist")

In [124]:
datascientist_salaries= driver.find_element(By.XPATH,"//button[@class='ab_btn search-btn round']")
datascientist_click

In [125]:
#Clicking DatScientist in Search box..
datascientist_salaries.click()

In [127]:
dscomp = driver.find_elements(By.XPATH,'//div[@ class="company-info"]')
len(dscomp)

25

In [128]:
dscomp_name=[]
for i in dscomp:
    dscomp_name.append(i.text)
len(dscomp_name)

25

In [205]:
#Company details for first 10 companies..
datascientist_salary=dscomp_name[0:10]
datascientist_salary

['Google\nSoftware Engineer Salary\n1-3 yrs experience (based on 35 salaries)',
 'Microsoft Corporation\nSoftware Engineer Salary\n1-4 yrs experience (based on 274 salaries)',
 'Goldman Sachs\nSoftware Engineer Salary\n2 yrs experience (based on 18 salaries)',
 'Tekion\nSoftware Engineer Salary\n2-4 yrs experience (based on 35 salaries)',
 'Amazon\nSoftware Engineer Salary\n1-4 yrs experience (based on 122 salaries)',
 'Servicenow Software Development India\nSoftware Engineer Salary\n2-4 yrs experience (based on 60 salaries)',
 'Flipkart\nSoftware Engineer Salary\n1-4 yrs experience (based on 64 salaries)',
 'Walmart\nSoftware Engineer Salary\n1-4 yrs experience (based on 87 salaries)',
 'PayPal\nSoftware Engineer Salary\n1-2 yrs experience (based on 29 salaries)',
 'Myntra\nSoftware Engineer Salary\n1 yr experience (based on 10 salaries)']

In [142]:
min_salary = driver.find_elements(By.XPATH,'//div[@ class="salary-values"]')
len(min_salary)

10

In [143]:
minimum_salary=[]
for i in min_salary:
    minimum_salary.append(i.text)
len(minimum_salary)

10

In [151]:
minimum_salary

['₹ 11.0L\n₹ 65.0L',
 '₹ 13.0L\n₹ 50.0L',
 '₹ 12.0L\n₹ 34.0L',
 '₹ 12.0L\n₹ 33.0L',
 '₹ 8.0L\n₹ 45.0L',
 '₹ 13.0L\n₹ 28.0L',
 '₹ 7.5L\n₹ 31.0L',
 '₹ 11.4L\n₹ 32.5L',
 '₹ 11.0L\n₹ 31.0L',
 '₹ 14.0L\n₹ 27.0L']

In [140]:
avg_salary = driver.find_elements(By.XPATH,'//div[@ class="average-indicator-wrapper"]')
len(avg_salary)

10

In [139]:
average_salary=[]
for i in avg_salary:
    average_salary.append(i.text)
len(average_salary)

10

In [141]:
#Average salary for first 10 companies..
average_salary

['₹ 31.3L',
 '₹ 24.0L',
 '₹ 23.0L',
 '₹ 21.2L',
 '₹ 21.0L',
 '₹ 20.5L',
 '₹ 20.4L',
 '₹ 20.0L',
 '₹ 19.9L',
 '₹ 19.5L']

In [189]:
max_salary = driver.find_elements(By.XPATH,'//div[@ class="value body-medium"]')
len(max_salary)

20

In [190]:
maximum_salary=[]
for i in max_salary:
    maximum_salary.append(i.text)
len(maximum_salary)

20

In [193]:
#Maximum salary for first 10 companies
max_sal=maximum_salary[1:20:2]
max_sal

['₹ 65.0L',
 '₹ 50.0L',
 '₹ 34.0L',
 '₹ 33.0L',
 '₹ 45.0L',
 '₹ 28.0L',
 '₹ 31.0L',
 '₹ 32.5L',
 '₹ 31.0L',
 '₹ 27.0L']

In [202]:
maximum_salary

['₹ 11.0L',
 '₹ 65.0L',
 '₹ 13.0L',
 '₹ 50.0L',
 '₹ 12.0L',
 '₹ 34.0L',
 '₹ 12.0L',
 '₹ 33.0L',
 '₹ 8.0L',
 '₹ 45.0L',
 '₹ 13.0L',
 '₹ 28.0L',
 '₹ 7.5L',
 '₹ 31.0L',
 '₹ 11.4L',
 '₹ 32.5L',
 '₹ 11.0L',
 '₹ 31.0L',
 '₹ 14.0L',
 '₹ 27.0L']

In [204]:
#Minimum salary for first 10 companies..
min_sal=maximum_salary[0:20:2]
min_sal

['₹ 11.0L',
 '₹ 13.0L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 8.0L',
 '₹ 13.0L',
 '₹ 7.5L',
 '₹ 11.4L',
 '₹ 11.0L',
 '₹ 14.0L']

In [206]:
Creating DataFrame for First 10 companies in salary vise..
df=pd.DataFrame({"CompanyNAme_Experience_SalryBased":datascientist_salary,"MinimumSalary":min_sal,"AverageSalary": average_salary,"MaximumSalary":max_sal})

In [207]:
df

,CompanyNAme_Experience_SalryBased,MinimumSalary,AverageSalary,MaximumSalary
0,Google\nSoftware Engineer Salary\n1-3 yrs expe...,₹ 11.0L,₹ 31.3L,₹ 65.0L
1,Microsoft Corporation\nSoftware Engineer Salar...,₹ 13.0L,₹ 24.0L,₹ 50.0L
2,Goldman Sachs\nSoftware Engineer Salary\n2 yrs...,₹ 12.0L,₹ 23.0L,₹ 34.0L
3,Tekion\nSoftware Engineer Salary\n2-4 yrs expe...,₹ 12.0L,₹ 21.2L,₹ 33.0L
4,Amazon\nSoftware Engineer Salary\n1-4 yrs expe...,₹ 8.0L,₹ 21.0L,₹ 45.0L
5,Servicenow Software Development India\nSoftwar...,₹ 13.0L,₹ 20.5L,₹ 28.0L
6,Flipkart\nSoftware Engineer Salary\n1-4 yrs ex...,₹ 7.5L,₹ 20.4L,₹ 31.0L
7,Walmart\nSoftware Engineer Salary\n1-4 yrs exp...,₹ 11.4L,₹ 20.0L,₹ 32.5L
8,PayPal\nSoftware Engineer Salary\n1-2 yrs expe...,₹ 11.0L,₹ 19.9L,₹ 31.0L
9,Myntra\nSoftware Engineer Salary\n1 yr experie...,₹ 14.0L,₹ 19.5L,₹ 27.0L